*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}
html{
    font-size: 81.25%;
    scroll-behavior: smooth;
}
.wrapper{
    width: 100rem;
    margin: 0 auto;
}

/*nav-bar*/
.bg-color-1{
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgb(255, 255, 255)) ,url("image/pawel-czerwinski-GwA9CZi7fPE-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-bar{
    height: 15vh;
}
.nav-bar ul{
    width: 100%;
    text-align: center;
    
}
.nav-bar ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1%;
    margin: 1% 1%;
}
.nav-bar ul li a{
    text-decoration: none;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}
.nav-bar ul li a:hover{
    color: rgb(101, 15, 199);
}
/*nav-bar*/

.flexible-display{
    display: flex;
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 90%;
    display: block;
    margin-left: 7rem;
}
.color{
    color: rgb(134, 22, 134);
}
h1{
    font-size: 4rem;
    margin: 6rem 0rem 3rem 0rem;
}
h2{
    font-size: 3rem;
    letter-spacing: .10rem;
    margin-bottom: 4rem;
}
p{
    font-size: 2rem;
    color: rgb(94, 90, 90);
    text-indent: 5rem;
    margin-bottom: 1.8rem;
}
.button{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: #ffffff;
    text-transform: uppercase;
    word-spacing: 5px;
    padding: 1.5rem;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgb(122, 25, 179), rgb(236, 24, 148));
    display: inline-block;
}



/*about section*/
#font-clr{
    color: rgb(155, 9, 65);
    text-align: justify;
}
.divide{
    width: 50%;
    
}
.bg-img-1{
    margin-bottom: 10rem;
    background-image:linear-gradient(rgba(255, 255, 255, 0.233),rgba(255, 255, 255, 0.979)),url("image/violet-bg-color.jpg");
    background-size: cover; 
}
/*about section*/